@import url('https://fonts.googleapis.com/css2?family=Comme&family=Roboto:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
}

nav {
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2% 2%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Define a sombra */
}

nav .sign-buttons{
    display: flex;
    gap: 1rem;
    width: auto;
    margin-right: 2%;
}

.sign-buttons button{
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.sign-buttons a{
    text-decoration: none;
    outline: none;
    color:  white;
}

.sign-buttons a:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.671);
}

nav span{
    font-family: 'Roboto', sans-serif;
    color: white;
}

main{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

main a{
    font-family: 'Comme', sans-serif;
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: underline;
}

main aside{
    width: 12%;
}

.news{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
